{% extends "base.html" %} {%block coverimage %}url("{{
url_for("static",filename="images/index.jpg") }}{% endblock %} {% block content %}

<section class="hero is-fullheight is-flex-touch">
    <div class="hero-body">
        <div class="">
            <p class="subtitle is-size-3">
                {{attendee.attendee.split()[0]}},you are
                <span id="attendee_status">STATUS_UNKNOWN</span>
            </p>

            <p class="title is-size-1 glitch" data-text="{{event.event}}">
                {{event.event}}
            </p>
            <p class="content is-size-4">
                <i class="fa-regular fa-calendar"></i> {{event.date | humanize_ts}} |
                <a id="calLink">Add to Cal</a> <br /><i
                    class="fa-solid fa-location-dot"
                    style="margin: 0 1.5px"
                ></i>
                {{event.location}}
            </p>
            <p class="subtitle is-size-4">What am I inviting you too?</p>
            <p class="content">
                <span class="pre">{{event.description | safe | trim}}</span>
            </p>

            <p class="subtitle is-size-4">Who is coming?</p>
            <div class="content">
                <ul id="attendees-list"></ul>
                If you wanna bring a +1 text me their details.
            </div>

            <p class="subtitle is-size-4">What is this website?</p>
            <p class="content">
                Shy.Party is a worse version of partiful. I bought this domain because
                it was funny. Given how much it cost
                <a href="https://youtu.be/gu0SjNfSzyQ"
                    >I actually had to do something with it.
                </a>
                This page specifically is your private event page for {{event.event}}.
                You can revisit this link whenever you need to update your RSVP. If you
                share it, other people will be able to edit your RSVP status, because
                I'm too lazy to code user auth. I did say it was a worse version of
                partiful.
            </p>
            <p class="content">
                If you want to opt out of future event invites, let me know and I'll
                take you off the texting list.
            </p>

            <form
                id="submit_rsvp"
                action="/.netlify/functions/form-handler"
                method="post"
            >
                <input
                    type="hidden"
                    name="junction_pub"
                    id="junction_pub"
                    value="{{event_junction_public_id}}"
                />

                <div class="columns has-text-centered">
                    <div class="column">
                        <button
                            type="submit"
                            id="attending"
                            name="rsvp"
                            value="attending"
                            data-text="Attending"
                        >
                            &#128525;
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button
                            type="submit"
                            id="maybe"
                            name="rsvp"
                            value="maybe"
                            data-text="Maybe"
                        >
                            &#129300;
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button
                            type="submit"
                            id="not_attending"
                            name="rsvp"
                            value="not_attending"
                            data-text="Can't go."
                        >
                            &#128546;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %} {% block js %}
<script
    src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1"
    async
    defer
></script>
<script>
    const clearSelected = () => {
        document
            .getElementById("submit_rsvp")
            .querySelectorAll("button")
            .forEach((el) => {
                el.classList.remove("selected");
            });
    };

    document.getElementById("attending").addEventListener("click", (event) => {
        event.preventDefault();
        clearSelected();
        event.target.classList.add("selected");

        submitRSVP("attending");
    });
    document.getElementById("maybe").addEventListener("click", (event) => {
        event.preventDefault();
        clearSelected();
        event.target.classList.add("selected");

        submitRSVP("maybe");
    });
    document.getElementById("not_attending").addEventListener("click", (event) => {
        event.preventDefault();
        clearSelected();
        event.target.classList.add("selected");
        submitRSVP("not_attending");
    });

    function submitRSVP(status) {
        const junction_pub = document.getElementById("junction_pub").value;

        fetch("/.netlify/functions/form-handler", {
            method: "post",
            body: JSON.stringify({
                rsvp: status,
                junction_pub: junction_pub,
            }),
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log("data from function", data);
                const attendeeStatus = document.getElementById("attendee_status");
                switch (status) {
                    case "attending":
                        consoleText([attendeeStatus.innerText, "attending"]);
                        break;
                    case "maybe":
                        consoleText([attendeeStatus.innerText, "a maybe for"]);
                        break;
                    case "not_attending":
                        consoleText([
                            attendeeStatus.innerText,
                            "unable to make it for",
                        ]);
                        break;
                }
            });
    }

    document.addEventListener("DOMContentLoaded", () => {
        (document.querySelectorAll(".notification .delete") || []).forEach(
            ($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener("click", () => {
                    $notification.parentNode.removeChild($notification);
                });
            }
        );
    });

    const config = {
        name: "{{event.event}}",
        description:
            "Update your RSVP at https://shy.party/rsvp/{{event_junction_public_id}}",
        startDate: "{{ event.date | humanize_cal_date }}",
        endDate: "{{ event.date | humanize_cal_date_end }}",
        startTime: "{{ event.date | humanize_cal_time }}",
        endTime: "{{ event.date | humanize_cal_time_end }}",
        hideBranding: true,
        options: ["Google", "Apple", "iCal"],
        timeZone: "US/Eastern",
        trigger: "click",
        inline: true,
        listStyle: "modal",
        label: "Add to Calendar",
        lightMode: "dark",
        location: "{{event.location}}",
    };
    const button = document.getElementById("calLink");
    button.addEventListener("click", () => atcb_action(config, button));

    // Select appropriate button based on attendee status
    const ATTENDEE_STATUS = "ATTENDEE_STATUS_UNKNOWN";

    if (ATTENDEE_STATUS) {
        const $button = document.querySelector(`[value="${ATTENDEE_STATUS}"]`);
        $button && $button.classList.add("selected");
    }

    /* Populate list of attendees. */
    const ATTENDEE_DATA = "ATTENDEES_UNKNOWN".split(",");
    const listEl = document.getElementById("attendees-list");
    ATTENDEE_DATA.forEach((attendee) => {
        const li = document.createElement("li");
        li.innerText = attendee;
        listEl.appendChild(li);
    });

    function consoleText(words, id, colors) {
        if (id === undefined) id = "attendee_status";
        if (colors === undefined) colors = ["#fff", "#00d4ff"];

        var con = document.getElementById("console");
        var letterCount = words[0].length;
        var x = -1;
        var waiting = false;
        var target = document.getElementById(id);
        target.setAttribute("style", "color:" + colors[0]);
        var refreshIntervalId = window.setInterval(function () {
            if (
                words[0].substring(0, letterCount) ===
                    words[1].substring(0, letterCount) &&
                waiting === false
            ) {
                waiting = true;
                target.innerHTML = words[0].substring(0, letterCount);
                window.setTimeout(function () {
                    var usedColor = colors.shift();
                    colors.push(usedColor);
                    var usedWord = words.shift();
                    words.push(usedWord);
                    x = 1;
                    target.setAttribute("style", "color:" + colors[0]);
                    letterCount += x;
                    waiting = false;
                }, 1000);
            } else if (letterCount === words[0].length + 1 && waiting === false) {
                clearInterval(refreshIntervalId);
                waiting = true;
                window.setTimeout(function () {
                    x = 1;
                    letterCount += x;
                    waiting = false;
                }, 1000);
            } else if (waiting === false) {
                target.innerHTML = words[0].substring(0, letterCount);
                letterCount += x;
            }
        }, 100);
    }
</script>
{% endblock %}
