{% extends "base.html" %} {%block coverimage %}url("{{
url_for("static",filename="images/index.jpg") }}{% endblock %} {% block content %}

<section class="hero is-fullheight is-flex-touch">
    <div class="hero-body">
        <div class="">
            <p class="subtitle is-size-3">
                {{attendee.attendee}}, you are invited to attend
            </p>

            <p class="title is-size-1" data-text="{{event.event}}">{{event.event}}</p>
            <p class="subtitle is-size-3">
                {{event.date | humanize_ts}}
                <br />{{event.location}}
            </p>

            <p class="subtitle is-size-5">What am I inviting you too?</p>
            <p class="content">{{event.description}}</p>

            <p class="subtitle is-size-5">What is this website?</p>
            <p class="content">
                This is your private event page for {{event.event}}. Don't share it with
                anyone. It's only for you. I have you marked down as STATUS_UNKNOWN.
                Click the flashing buttons to change that. Come back and change your
                RSVP at anytime. If you wanna bring folks with you shoot me a text, with
                their name and number so I can send you an secret invite page for them
                too. ATTENDING_UNKOWN
            </p>

            <form action="/submit" method="POST">
                <div class="columns has-text-centered">
                    <div class="column">
                        <button
                            type="submit"
                            id="attending"
                            name="rsvp"
                            value="attending"
                            data-text="Attending"
                        >
                            🥰
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button
                            type="submit"
                            id="maybe"
                            name="rsvp"
                            value="maybe"
                            data-text="Maybe"
                        >
                            🤔
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button
                            type="submit"
                            id="not_attending"
                            name="rsvp"
                            value="not_attending"
                            data-text="Can't go."
                        >
                            😢
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %} {% block js %} function updateRSVP(attendee_status) {
console.log(attendee_status); } {% endblock %}
