{% extends "base.html" %} {%block coverimage %}url("{{
url_for("static",filename="images/index.jpg") }}{% endblock %} {% block content %}
<div class="notification is-link" id="successNotification" hidden>
    <button class="delete"></button>
    Registration Updated
</div>
<section class="hero is-fullheight is-flex-touch">
    <div class="hero-body">
        <div class="">
            <p class="subtitle is-size-3">
                {{attendee.attendee}}, you are invited to attend
            </p>

            <p class="title is-size-1 glitch" data-text="{{event.event}}">
                {{event.event}}
            </p>
            <p class="content is-size-4">
                <i class="fa-regular fa-calendar"></i> {{event.date | humanize_ts}}
                <br /><i class="fa-solid fa-location-dot" style="margin: 0 1.5px"></i>
                {{event.location}}
            </p>

            <p class="subtitle is-size-4">What am I inviting you too?</p>
            <p class="content">
                <span class="pre">{{event.description | safe | trim}}</span>
            </p>

            <p class="subtitle is-size-4">What is this website?</p>
            <p class="content">
                This is your private event page for {{event.event}}. I have you marked
                down as STATUS_UNKNOWN If you wanna bring a +1 text me their details.
                ATTENDING_UNKOWN
            </p>

            <form
                id="submit_rsvp"
                name="submit_rsvp"
                method="POST"
                action="/rsvp/{{event_junction_public_id}}/?success=true"
                data-netlify="true"
                data-netlify-honeypot="bot-field"
            >
                <input
                    type="hidden"
                    name="junction_pub"
                    value="{{event_junction_public_id}}"
                />
                <input
                    type="hidden"
                    id="hidden_rsvp_status"
                    name="rsvp_status"
                    value=""
                />
                <div class="columns has-text-centered">
                    <div class="column">
                        <button
                            type="button"
                            onClick="prepSubmit('attending')"
                            id="attending"
                            name="rsvp"
                            data-netlify-recaptcha="true"
                            value="attending"
                            data-text="Attending"
                        >
                            &#128525;
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button
                            type="button"
                            id="maybe"
                            name="rsvp"
                            value="maybe"
                            data-netlify-recaptcha="true"
                            data-text="Maybe"
                            onClick="prepSubmit('maybe')"
                        >
                            &#129300;
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button
                            type="button"
                            id="not_attending"
                            name="rsvp"
                            value="not_attending"
                            data-text="Can't go."
                            data-netlify-recaptcha="true"
                            onClick="prepSubmit('not_attending')"
                        >
                            &#128546;
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %} {% block js %}
<script>
    function prepSubmit(status) {
        form = document.getElementById("submit_rsvp");
        document.getElementById("hidden_rsvp_status").value = status;
        console.log(form.rsvp_status.value);
        form.submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
        (document.querySelectorAll(".notification .delete") || []).forEach(
            ($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener("click", () => {
                    $notification.parentNode.removeChild($notification);
                });
            }
        );
    });
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return false;
    }
    if (getQueryVariable("success") == "true") {
        document.getElementById("successNotification").hidden = false;
    }
</script>

{% endblock %}
