{% extends "base.html" %}{%block coverimage %} url("{{ url_for("static",
filename="images/index.jpg") }} {% endblock %}{% block content %}

            <div id="wrapper"><h1 class="glitch" data-text="{{event.event}}">{{event.event}}</h1>
<div><span class="sub">{{event.date | humanize_ts}}</span></div>
<div><span class="sub">{{event.location }}</span></div></br>
</div>
<div id="wrapper">
<div><span class="content">{{event.description }}</span></div></br>


<button class="gradient" data-text="Attend this event.">Ping Shy for your private link to RSVP</button></div>

{% endblock %}
